<div class="container">

<title>Waiter Availability</title>

<form class="form" action='/waiters' method="post">
  <br/>
  <br/>
  <input type="checkbox" name="day" value="Monday">Monday
  <input type="checkbox" name="day" value="Tuesday">Tuesday
  <input type="checkbox" name="day" value="Wednesday">Wednesday
  <input type="checkbox" name="day" value="Thursday">Thursday
  <input type="checkbox" name="day" value="Friday">Friday
  <input type="checkbox" name="day" value="Saturday">Saturday
  <br/>
  <br/>
  <br>
  <br>
</form>
<br/>
<!-- <ul>
   {{#each plate}}
  <li class="plates" name="plates">{{this}}</li>
  {{/each}}
</ul> -->
</div>
