<head>
        <meta charset="utf-8">
        <title>Waiter Availability</title>
        <link href="https://fonts.googleapis.com/css?family=Akronim|Londrina+Outline|Rye|Shojumaru" rel="stylesheet">
   <link rel="stylesheet" href="/css/waiters.css">
</head>

<body align="center">
        <h3>WAITER-AVAILABILITY</h3>
        <br><br><br><br><br>

        <div class="alert">
                <strong>Hi, please add your name on the URL.</strong>
                <!-- <img src="http://localhost:5000/images/smile.png" alt="" height="42" width="42"> -->
        </div>


</body>
